@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Dosis, Arial;
    font-weight: 300;
    color: black;
    background-color: blueviolet;
}

/* headings and logo */

h1,
h2 {
    font-family: Nunito, Arial;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #CCFF00;
}

#logo {
    float: left;
    font-size: 210%;
}

#menu {
    font-size: 50%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}