@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Dosis, Arial;
    font-weight: 300;
    color: black;
    background-color: #F7D060;
}

/* headings and logo */

h1,
h2 {
    font-family: Nunito, Arial;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FF6D60;
}

#logo {
    float: left;
    font-size: 210%;
}

#menu {
    font-size: 50%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #FF6D60;
}

.active {
    border-bottom: 1px solid #FF6D60;
}

/* hero image */

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
}